.App {
  /* border: 1px solid red; */
  background-color: #ff2d55;
  border-color:#ff2d55;
  border-radius: 12px;
  width: 40rem;
  height: 10rem;
}
h1{
  text-align: center;
  color:white;
}
.Upper-half{
  display: flex;
  justify-content: space-evenly;
}
input{
  padding: 8px;
  border-radius: 5px;

}
label{
  color: green;
  font-size: 25px;
  font-weight: bold;
}
.btn-div{
  display: flex;
  gap: 30px;
  
}
button{
  background-color: blue;
  padding: 8px;
  border-color: blue;
  border-radius: 3px;
  color: antiquewhite;
  font-weight: bold;
  border-radius: 8px;

}
.lowerHalf{
  display: flex;
  justify-content: center;
  border: 1px solid rgb(238, 255, 0);
  margin-top: 20px;
  background-color: royalblue;
  border-color:royalblue;
  border-radius: 12px;
  width: 100%;

}
.delete-btn{
  cursor: pointer;
}
.Add-btn{
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  button{
      padding: 4px;
      font-size: 16px;
  }
  input{
    width: 120px;
  }
  .btn-div{
    display: flex;
    gap: 10px;
    
  }
  label{
    font-size: 18px;
  }
 

}

